<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title> 게시판 | {% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/site_media/style.css" />
	</head>
	<body>
		{% if user.is_authenticated %}
		<div id=mainbody>
		<table width=800>
			<tr>
				<td width=50>
					<h1><a href="/bbs/" id=logo>BBS</a></h1>
				</td>
				<td>
					<font size=4 face='맑은 고딕'>| {% block head %}{% endblock %}</font>
				</td>
				<td style='vertical-align:bottom'>
					<p align=right class=usermsg>{{ user.username }}님이 로그인 하셨습니다. <a class=logout href="/logout/">[로그아웃]</a></p>
				</td>
			</tr>
		</table>
		{% block content %}{% endblock %}
		{% else %}
		<p> 잘못된 접근입니다. 먼저 <a href="/">[로그인]</a> 또는 <a href="/register/">[가입]</a> 하세요.</p>
		{% endif %}
		</div>
	</body>
</html>
  